body{
	width: 100%; 
    height: 100%; 
    font: 95% Arial, Helvetica, sans-serif;
    background: #f2f2f2; /* #0099e6*/
}
.imgcontainer{
	position:absolute;
	margin:auto;
	top:30px;
	left:0;
	right:0; 
	text-align: center;
}
.login{
	position:absolute;
	border:1px solid #006699;
    border-radius: 5px;
	background-color: #d9d9d9;
	width:40%;
	margin:auto;
	top:160px;
	left:0;
	right:0; 
    padding: 16px;
	-moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.12);
}

.login h3{
    color: #fff;
    margin: -16px -16px 16px -16px;
	background:  #43D1AF;
	text-align: center;
	vertical-align: middle;
	font-size:20;
	line-height: 60px;
}

.input-text,.input-password{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px; 
    box-sizing: border-box;
}

.button {
    background-color: #cc0000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid white;
    border-radius: 5px; 
    cursor: pointer;
    font-size: 14;
    width:100%;
}
.button:hover{
	opacity: 0.8;
} 
.loginbtn,.signupbtn {
	float:left;
    width:50%
}

.loginbtn:hover,
.signupbtn:hover {
	opacity: 0.8;
}

.popUpWindow{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.95); 
    padding-top: 60px;
}

.container {
    padding: 12px;
}
.popUpWindow-content{
	background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    border-radius: 5px; 
    width: 50%;
    padding: 12px;
}
.close-button {
    position: absolute;
    right: 35px;
    top: 15px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #cc0000;
    cursor: pointer;
}
@media screen and (max-width: 800px) {
   .loginbtn,.signupbtn{
   	     float:none;
   	     width:100%;
   }
}